* {
    font-size: 24px;
}

.oddNumber {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#evenNumber {
    color: blue;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#evenNumber2 {
    background-color: green;
    font-weight: bold;
}